.fade-enter-active,
.fade-leave-active {
  opacity: 0;
  transition: all 0.3s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.itemAnimated {
  transition: all 0.2s ease;
  &:hover {
    transform: translateX(-2px);
  }
}

.spinner {
  width: 20px;
  height: 20px;
  margin: 3px 20px 0px 0px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0)
  }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: transitionX(-100%);
}

.list-enter-to,
.list-leave {
  opacity: 1;
  transform: translateX(100%);
}

.list-enter-active,
.list-leave-active {
  transform: translateX(100%);
  transition: all 500ms ease-out;
}
