@import './base/spacing';
@import './base/transition';
@import './base/utils';
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.line {
  border-bottom: 2px solid $line;
}

.cartPageLine {
  border-bottom: 2px solid $dark;
}

.priceLine {
  border-bottom: 1px solid $primary;
}

.btn-l {
  padding: 10px 100px;
}

.btn-s {
  padding: 5px 30px;
}

.btn {
  color: $light;
  display: inline-flex;
  background: $primary;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  transition: all .2s ease;
  &:hover {
    background: $secondary;
  }
  &:focus {
    outline: none;
  }
}
